.instructions {
  @extend .non-question-page;

  @include media-tablet-small() {
    width: 80%;
  }

  @include media-phone() {
    width: 100%;
    overflow-x: hidden;
  }

  .quiz__start-button {
    margin-top: 3rem;
  }
}

.instructions,
.instructions__title,
.instructions__content {
  text-align: center;
}

.instructions__title {
  margin-bottom: 2rem;
  font-weight: 400;
  color: $black-67;
}

.instructions__content {
  white-space: pre-wrap;
}
