$border-color-selected: #4a82e8;
$background-color-correct: #e4f9e4;

.quiz-question {
  position: relative;
  padding: 0.4rem 2rem 1rem 4rem;

  &::before {
    position: absolute;
    @include flex-row(center, center);
    transform: rotate(180deg);
    left: 0;
    top: 0;
    width: 2.4rem;
    height: 100%;
    letter-spacing: 1px;
    font: 400 1.4rem 'Roboto';
    text-transform: uppercase;
    writing-mode: vertical-lr;
  }

  &.--html {
    &::before {
      content: 'html';
      background-color: #e44d26;
      color: #fff;
    }
  }

  &.--css {
    &::before {
      content: 'css';
      background-color: #379ad6;
      color: #fff;
    }
  }

  &.--javascript {
    &::before {
      content: 'javascript';
      background-color: #f0db4f;
      color: #323330;
    }
  }
}

.quiz-question__question {
  margin-bottom: 1rem;
  white-space: pre-wrap;
}

.quiz-question__label {
  color: $black-52;
  font-style: italic;
}

.quiz-question__answers-container {
  @include flex-column();
  line-height: 1.5;
}

.quiz-question__answer {
  display: flex;
  align-items: baseline;
  padding: 0.5rem 0 0.5rem 2rem;
  margin-bottom: 0.4rem;
  cursor: pointer;

  > span {
    flex: 1;
  }

  code {
    margin-top: 0;
  }

  &.answer--selected {
    border: 2px solid $border-color-selected;
  }

  &.answer--correct {
    background-color: $background-color-correct;
  }
}

.quiz-question__answer-input {
  margin-right: 1rem;
}

.explanation {
  margin-top: 2rem;
}
