$header-height: 6.4rem;

body {
  @include flex-row(center, flex-end);
  background-color: #e4e4e4;
}

.quiz {
  @include flex-column();
  width: min(80%, 80rem);
  height: 90%;
  padding: 0 2rem 5rem;
  border-radius: 8px 8px 0 0;
  background-color: #fff;
}

.quiz__header {
  position: relative;
  @include flex-row(center, center);
  height: $header-height;
  margin-bottom: 4rem;
}

.quiz__questions {
  overflow: auto;
}

.quiz__question {
  margin-bottom: 6rem;
}
