$header-height: 6.4rem;

body {
  @include flex-row(center, flex-end);
  background-color: #e4e4e4;
}

.quiz {
  @include flex-column();
  width: min(80%, 80rem);
  height: 90%;
  padding: 2rem 2rem 5rem;
  border-radius: 8px 8px 0 0;
  background-color: #fff;
}

.quiz__header {
  position: relative;
  @include flex-row(center, center);
  height: $header-height;
  margin-bottom: 4rem;
}

.quiz__questions {
  overflow: auto;
}

.quiz__question {
  margin-bottom: 6rem;
}

.display\:none {
  display: none;
}

.button {
  padding: 0.8rem 3.2rem;
  text-transform: uppercase;
  border: 2px solid #b2dbff;
  background-color: #1f7dde;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
