// mixins
@mixin __flex($justify-content, $align-items) {
  @if $justify-content != none {
    justify-content: $justify-content;
  }

  @if $align-items != none {
    align-items: $align-items;
  }
}

@mixin flex-row($justify-content: none, $align-items: none) {
  display: flex;
  @include __flex($justify-content, $align-items);
}

@mixin flex-column($justify-content: none, $align-items: none) {
  @include flex-row($justify-content, $align-items);
  flex-direction: column;
}

// variables
$breakpoint: 1000px;

$primary-100: #b2dbff;
$primary: #1f7dde;
$black-8: rgba(0, 0, 0, .08);
$black-12: rgba(0, 0, 0, .12);
$black-25: rgba(0, 0, 0, .25);
$black-40: rgba(0, 0, 0, .4);
$black-52: rgba(0, 0, 0, .52);
$black-67: rgba(0, 0, 0, .67);
$black-84: rgba(0, 0, 0, .84);

$color-passed: #02c302;
$color-failed: #e52312;


// media mixins
@mixin media-tablet-small() {
  @media (min-width: 600px) and (max-width: 839px) {
    @content;
  }
}

// media mixins
@mixin media-phone() {
  @media (max-width: 599px) {
    @content;
  }
}
